/* Landing Page — bar fill animation */
@keyframes fill-bar {
    from {
        width: 0;
    }

    to {
        width: 88%;
    }
}

/* Smooth scroll */
:host {
    scroll-behavior: smooth;
}

/* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hero-section {
    background-image: url('https://res.cloudinary.com/dhgsvmcmc/image/upload/v1781974220/zisify-hero-section.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% center; /* Mover a la derecha para mostrar al astronauta en móvil */

    @media (min-width: 768px) {
        background-position: center center;
    }
}