/* Landing Page — bar fill animation */
@keyframes fill-bar {
    from {
        width: 0;
    }

    to {
        width: 88%;
    }
}

/* Smooth scroll */
:host {
    scroll-behavior: smooth;
}

/* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hero-section {
    background-image: url('https://res.cloudinary.com/dhgsvmcmc/image/upload/v1786487239/ChatGPT_Image_11_ago_2026_12_55_14_p.m._d7odgn.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* En móvil y tablet SIEMPRE mantener la posición a la izquierda para enfocar al astronauta */
    background-position: left center;

    @media (min-width: 1024px) {
        background-position: center center;
    }
}